{% extends "base.html" %}

{% block title %}Accounts{% endblock %}

{% block content %}

<h2>Account</h2>

<li>
  {{ account.name }}
  {{ account.balance_cents }}
  {{ account.kind }}
  <!-- <div style="display: inline-block;">
      <a href="{% url 'users:update_category' account.id %}">
        <button type="button">Update</button>
      </a>
    </div>
    <div style="display: inline-block;">
      <form method="post" action="{% url 'users:delete_category' account.id %}">
        {% csrf_token %}
        <input type="submit" value="Delete">
      </form>
    </div> -->

  {% endblock %}
