{% extends "base.html" %}

{% block title %}transactions List{% endblock %}

{% block content %}

<h2>transactions List</h2>
<a href="{% url 'account:create_transaction' account_id %}">Cadastrar Transação</a>
<br>
<a href="{% url 'account:account_details' account_id %}">Voltar</a>

<ul>
  {% for transaction in transactions %}
  <li>
    {{ transaction.description }}
    {{ transaction.date|date:'d-m-Y' }}
    {{ transaction.kind }}
    {{ transaction.value_cents }}
    {{ transaction.account }}
    {{ transaction.category }}
    <div style="display: inline-block;">

    </div>
  </li>
  {% endfor %}

  {% endblock %}
